:root{
    --sec:#eb8258;
    --gray:#7c7c7c;
}
*{
    margin: 0;
    padding: 0;
}
.tx-second{
    color: var(--sec);
}
.bg-second{
    background-color: var(--sec);
}
.bg-gray{
    background-color: var(--gray);
}
.navbar{
    border-bottom: 1px solid #000000;
    font-family: 'Rajdhani', sans-serif;    
}
.nav-search{
    border: 1px solid #ff0000!important;
    border-radius: 25px;
}
.nav-img{
    width: 60px;  
    padding-right: 10px;  
}
header{
    background-image: url('./Img/Header-Img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.img{
    display: flex;
    justify-content: center;
}
.txt-draw{
    font-size: 20px;
    font-weight: 600;
}
.photo img:hover{
    background: 1px solid #000000;
    cursor: pointer;
}
.order-btn{
    padding: 10px 50px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
.eat{
    background-image: url('./Img/eat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    
}
.eat .order-btn{
    padding: 5px 25px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
.eat-text,
.header-text,
.eat .order-btn{
    margin:30px;
}
.eat-text{
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}
.header-text{
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}
.custom-height{
    height: 90%;
}
.btn-header{
    padding-right: 10px!important;
}
i{
    cursor: pointer;
}
.copy{
    margin-bottom: 0;
}
.text-end{
    height: 50px;
}
@media only screen and (min-width: 900px) {
    .img img{
        min-width: 200px;
    }
  }